container_commands:
  01_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    "PYTHONPATH": "/opt/python/current/app/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: iot/wsgi.py
    NumProcesses: 3
    NumThreads: 20
